body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
}

/* Navbar*/

.main {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1 {
    font-size: 50px;
    color: #5C4033;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 40px;
    color: #5C4033;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
    color: #5C4033;
    text-align: center;
    margin-top: 20px;
    font-family: serif;
}

h3 {
    font-size: 30px;
    color: #5C4033;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a {
    padding: 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    position: relative;
}

li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
    left: 0;
    top: 0;
    transform: scaleY(2);
    transition: .5s;
    opacity: 0;
}

li a:hover:before {
    transform: scaleY(1.1);
    opacity: 1;
}

li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: coral;
    left: 0;
    top: 0;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

li a:hover:after {
    transform: scale(1);
}

.hero {
    text-align: center;
    margin-top: 7%;
    padding: 50px 20px;
    background-color: #fde8cd;
}

.hero-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    width: 30%;
    margin: 10px;
    text-align: center;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}

body {
    background-color: #FFF8E7;
    color: #5C4033;
    text-align: center;
}

.header, .footer {
    background-color: #F9D773;
    color: #000000;
}

.special-offer {
    background-color: #D32F2F;
    color: #FFF8E7;
}

.section-title {
    color: #5C4033;
}

.text-highlight {
    background-color: #E9D5FF;
    color: #5C4033;
}